<div class="flex justify-center items-center h-full">
    <div class="container max-w-screen-md mx-8 p-4 min-height">
        <div class="home-page flex flex-col items-center">
            <div class="scale-75 transform sm:scale-100">
                <svg width="348" height="284" viewBox="0 0 348 284" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d)">
                        <circle cx="247.039" cy="180.039" r="93.5" transform="rotate(92.7925 247.039 180.039)"
                            fill="url(#paint0_linear)" stroke="black" stroke-width="4" />
                        <circle cx="100.039" cy="100.039" r="93.5" transform="rotate(92.7925 100.039 100.039)"
                            fill="url(#paint1_linear)" stroke="black" stroke-width="4" />
                    </g>
                    <defs>
                        <filter id="filter0_d" x="0.537079" y="4.53712" width="346.004" height="279.004"
                            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feColorMatrix in="SourceAlpha" type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                            <feOffset dy="4" />
                            <feGaussianBlur stdDeviation="2" />
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                        </filter>
                        <linearGradient id="paint0_linear" x1="247.039" y1="84.5392" x2="214.845" y2="239.217"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="#1400FA" />
                            <stop offset="1" stop-color="#7F19E5" />
                        </linearGradient>
                        <linearGradient id="paint1_linear" x1="162.854" y1="13.4152" x2="100.039" y2="195.539"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="#7F19E5" />
                            <stop offset="1" stop-color="#FB0000" />
                        </linearGradient>
                    </defs>
                </svg>
            </div>
            <div class="flex flex-col items-center">
                <h1 class="font-bold text-2xl sm:text-4xl text-white pt-2">Welcome to Purple</h1>
                <p class="text-white text-lg sm:text-2xl pt-2">
                    Engage with your elected officials on issues that matter.
                </p>
                <p class="text-white text-lg sm:text-2xl font-bold pt-2">
                    Enter your zip code to get started.
                </p>
            </div>
            <div class="flex-none pt-2 ">
                <form class="template-form" [formGroup]="zipForm" (ngSubmit)="onSubmit()">
                    <div class="flex justify-center" for="zip-field">
                        <input
                            class="form-el p-2 rounded-lg border border-black shadow-xl focus:outline-none focus:bg-purple-light focus:placeholder-transparent text-center w-80"
                            id="from-field" type="text" #zipfld formControlName="zip" placeholder="5-Digit Zip Code" />
                    </div>
                    <div class="submit-form-btn-container flex justify-center pt-4">
                        <button
                            class="rounded-full border-2 border-black text-white font-semibold h-8 w-8 flex justify-center items-center shadow-md p-1 bg-white transform hover:scale-110 focus:outline-none"
                            type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M9 5l7 7-7 7" />
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>