<div class="flex justify-center items-center">
    <div class="container rounded-lg bg-gray-100 max-w-screen-md shadow-xl mx-8 border border-black">
        <form class="p-4 grid grid-cols-1 sm:grid-cols-2 gap-4" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
            <div for="from-field">
                <input class="w-full bg-white rounded px-2 py-3 focus:border focus:bg-purple-light" id="from-field"
                    type="text" formControlName="from" placeholder="From" />
            </div>
            <div for="to-field">
                <input class="w-full bg-white rounded px-2 py-3 focus:border focus:bg-purple-light" id="to-field"
                    type="text" formControlName="to" placeholder="To" />
            </div>
            <div class="sm:col-span-2" for="subj-field">
                <input class="w-full bg-white rounded px-2 py-3 focus:border focus:bg-purple-light" id="subj-field"
                    type="text" formControlName="subj" placeholder="Subject" />
            </div>
            <div class="sm:col-span-2 bg-white rounded p-2">
                <app-template-editor [val]="emailForm.value.message"></app-template-editor>
            </div>
            <div class="flex justify-center">
                <button class="purple-btn w-full" (click)="backToNews()">
                    Go Back to News
                </button>
            </div>
            <div class="flex justify-center">
                <button class="purple-btn w-full" type="submit">Generate Email</button>
                <div *ngIf="status != exportStatus.NONE">
                    <div *ngIf="status == exportStatus.SUCCESS">
                        Success!
                    </div>
                    <div *ngIf="status == exportStatus.FAILURE">
                        {{ error_msg }}
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>