.min-ta-height{
    min-height: 12em;
}

.wdth {
    min-width: 20rem;
    max-width: 640px;
}

.template-button {
    @apply bg-black rounded-lg px-2 py-2 text-white font-semibold w-full transform  focus:outline-none hover:bg-gray-700;
}

@media (min-width: 640px) {
    .min-ta-height{
        min-height: 24em;
    }

    .wdth {
        min-width: 640px;
        max-width: 768px;
    }

}

@media (min-width: 768px) {
    .wdth {
        min-width: 768px;
        max-width: 1024px;
    }
}

@media (min-width: 1024px) {
    .wdth {
        min-width: 1024px;
    }
}

@media (max-width: 576px) {
    .wrap-contact100 {
        padding: 62px 15px 90px 15px;
    }
    .wrap-input100 {
        padding: 10px 10px 9px 10px;
    }
}