<div class="flex justify-center h-full">
    <div class="container rounded">
        <div class="app-local-issues-div">
            <div class="py-8 px-4 sm:px-2">
                <button (click)=" router.navigate(['/zipcode'])"
                    class=" rounded-full border-2 border-black text-white font-semibold h-8 w-8 flex justify-center items-center shadow-md p-1 bg-white transform hover:scale-110 focus:outline-none"
                    type="submit">
                    <svg class="w-6 h-6" fill="none" stroke="black" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7">
                        </path>
                    </svg>
                </button>
            </div>
            <div class="flex flex-col items-center">
                <h1 class="text-2xl font-bold text-white" id="title">
                    Issues in Your Area
                </h1>
                <p class="text-white">Click on an News Article to Learn More</p>
            </div>

            <div class="flex justify-center items-center pt-4" *ngIf="selectedNews !== null">
                <button class="gen-btn" (click)="contWriting()">Continue Working on Letter</button>
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 m-8 gap-4" id="news_div"
                *ngIf="news_articles_vals !== null">
                <div class="bg-gray-100 shadow m-1 p-2 rounded-lg border border-black shadow-xl hover:bg-purple-light transform hover:scale-105"
                    *ngFor="let article of news_articles_vals">
                    <h3 class="text-xl font-bold " id="news-article-header">
                        <!-- {{ article.headline }} -->
                        <a class="transform hover:underline" href="{{ article.link }}">{{ article.headline }}</a>
                    </h3>

                    <div class="flex justify-between">
                        <div id="news-article-body">
                            {{ article.tag }}
                        </div>
                        <div>
                            <button class="focus:outline-none transform hover:scale-110"
                                (click)="writeSenator(article.uuid, article)">
                                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z">
                                    </path>
                                </svg>
                            </button>
                        </div>


                    </div>
                </div>
            </div>
            <div class="flex flex-col items-center p-2">
                <!-- <button class="purple-btn">Go Back to Zip Code</button> -->


                <!-- <button
                    class="rounded-full border-2 border-black text-white font-semibold h-8 w-8 flex justify-center items-center shadow-md p-1 bg-white transform hover:scale-110 focus:outline-none"
                    type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                    </svg>
                </button> -->
            </div>
        </div>
    </div>
</div>