<div class="flex justify-center">
    <div class="container rounded">
        <div class="app-local-issues-div">
            <div class="flex justify-center items-center">
                <h1 class="text-2xl font-bold" id="title">
                    News Articles
                </h1>
            </div>

            <div class="flex justify-center items-center" *ngIf="selectedNews !== null">
                <button class="purple-btn" (click)="contWriting()">Continue Working on Letter</button>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 m-8" id="news_div"
                *ngIf="news_articles_vals !== null">
                <div class="bg-gray-100 shadow m-1 p-1 rounded" *ngFor="let article of news_articles_vals">
                    <h3 id="news-article-header">
                        <!-- {{ article.headline }} -->
                        <a href="{{ article.link }}">{{ article.headline }}</a>
                    </h3>
                    <div id="news-article-body">
                        {{ article.body }}
                    </div>
                    <div>
                        <button (click)="writeSenator(article.uuid, article)"><svg class="w-6 h-6" fill="none"
                                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z">
                                </path>
                            </svg></button>

                    </div>
                </div>
            </div>
            <div class="flex justify-center p-2">
                <button class="purple-btn" (click)="router.navigate(['/zipcode'])">Go Back to Zip Code</button>
            </div>
        </div>
    </div>
</div>